name: Build and Push to ECR

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 915233243854.dkr.ecr.us-east-1.amazonaws.com

      - name: Build, tag, and push image to Amazon ECR
        run: |
          docker build -t mediplus:v2 .
          docker tag mediplus:v2 915233243854.dkr.ecr.us-east-1.amazonaws.com/mediplus:v2
          docker push 915233243854.dkr.ecr.us-east-1.amazonaws.com/mediplus:v2

  deploy:
  runs-on: ubuntu-latest
  needs: build-push

  steps:
    - name: Deploy to server
      run: |
        echo "${{ secrets.SSH_KEY }}" > mykey.pem
        chmod 600 mykey.pem

        ssh -o StrictHostKeyChecking=no -i mykey.pem ubuntu@98.81.156.231 << 'EOF'
          aws ecr get-login-password --region us-east-1 | \
          docker login --username AWS --password-stdin 915233243854.dkr.ecr.us-east-1.amazonaws.com

          docker pull 915233243854.dkr.ecr.us-east-1.amazonaws.com/mediplus:v2
          docker stop mediplus || true
          docker rm mediplus || true
          docker run -d --name mediplus -p 80:80 915233243854.dkr.ecr.us-east-1.amazonaws.com/mediplus:v2
        EOF