name: Build and Deploy to ECR

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_TAG: ${{ github.run_number }}
      ECR_REGISTRY: 915233243854.dkr.ecr.us-east-1.amazonaws.com
      IMAGE_NAME: mediplus

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | \
          docker login --username AWS --password-stdin $ECR_REGISTRY

      - name: Build and push Docker image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG .
          docker tag $IMAGE_NAME:$IMAGE_TAG $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
          docker push $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG

  deploy:
    runs-on: ubuntu-latest
    needs: build-push

    env:
      IMAGE_TAG: ${{ github.run_number }}
      ECR_REGISTRY: 915233243854.dkr.ecr.us-east-1.amazonaws.com
      IMAGE_NAME: mediplus

    steps:
      - name: Deploy to EC2
        run: |
          echo "${{ secrets.SSH_KEY }}" > mykey.pem
          chmod 600 mykey.pem

          ssh -o StrictHostKeyChecking=no -i mykey.pem ubuntu@98.81.156.231 << EOF
            aws ecr get-login-password --region us-east-1 | \
            docker login --username AWS --password-stdin $ECR_REGISTRY

            docker pull $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
            docker stop $IMAGE_NAME || true
            docker rm $IMAGE_NAME || true
            docker run -d --name $IMAGE_NAME -p 80:80 \
            $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
          EOF